<div class="navbar">
  <h3>Wikinimous</h3>
  <h3> <%= link_to "New article", new_article_path %> </h3>
</div>

<div class="container">
  <% @articles.each do |article| %>
  <div class="article">
  <h2> <%= link_to "#{article.title}", article_path(article) %> </h2>
  <p> <%= article.content %> </p>
  </div>
  <% end %>
</div>
