// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  display: block;
  font-family: Helvetica;
  margin: 0;
}

div {
  display: block;
}

a {
  color: #337ab7;
  text-decoration: none;
  font-family: Helvetica;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #F8F8F8;
  padding: 0 15px;
}

.navbar h3, .navbar a {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
  color: black;
}

.container {
  width: 800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.article h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0;
}

.article p {
  opacity: 0.6;
}
